        *,
        *:before,
        *:after {
            padding: 0;
            margin: 0;
            box-sizing: border-box;
        }

        body {
            background-color: #FFFFFF;

        }

        .background {
            width: 430px;
            height: 520px;
            position: absolute;
            transform: translate(-50%, -50%);
            left: 50%;
            top: 50%;
            backdrop-filter: blur(8px);

        }

        form {
            height: 500px;
            width: 550px;
            background-color: #00B3E1;
            position: absolute;
            transform: translate(-50%, -50%);
            top: 45%;
            left: 50%;
            border-radius: 10px;
            /* box-shadow: 0 0 40px rgba(8, 7, 16, 0.6); */
            padding: 50px 5px;
        }


        form * {
            font-family: 'Poppins', sans-serif;
            color: #2D2D2D;
            letter-spacing: 0.7px;
            outline: none;
            border: none;
        }

        form h3 {
            font-size: 34px;
            font-weight: 600;
            line-height: 42px;
            text-align: center;
        }

        label {
            display: block;
            margin-top: 20px;
            font-size: 18px;
            font-weight: 500;

            /* margin: auto; */
        }

        input {
            display: block;
            height: 30px;
            min-width: 70%;
            max-width: 80%;
            background-color: #ffffff;
            border-radius: 3px;
            padding: 0 10px;
            margin-top: 4px;
            font-size: 14px;
            font-weight: 300;
        }

        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

        .input-labels {
            display: flex;
            flex-direction: row;
            min-width: 100%;
        }

        .input-group {
            min-width: 50%;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .input-group label {
            min-width: 70%;
            display: flex;
            flex-direction: row;

        }

        input:first-child {
            width: 100% !important;
        }

        #display1 {
            display: none;
        }


        .blip {
            display: none;
        }

        #link:hover {
            color: #B08E21 !important;
        }

        .disclaimer {
            position: absolute !important;
            margin-top: -32px !important;
            margin-left: 160px;
        }


        .btn2 {
            text-align: center !important;
            padding: 20px;
        }

        #container {
            display: flex;
            align-items: center;
            justify-content: space-between;
            position: relative;

        }

        .left {
            align-self: flex-start;
            max-width: 100%;
        }

        .logo {
            height: 110px;
            width: 100px;
        }

        .right {
            margin-left: auto;
            position: relative;
            top: -40px;
            align-self: flex-end;
        }

        .golden-button {

            background-color: #2D2D2D;
            box-shadow: 2px 2px 2px gray;
            color: #ffffff;
            text-align: center;
            /* align-self: center; */
            font-size: 20px;
            padding: 14px;
            border-radius: 5px;
            margin: 5px;
            cursor: pointer;
            transition: transform 0.5s;

        }

        .golden-button:hover {
            background-color: #202020;
            color: #ffffff;
            transform: translateY(5px);
        }


        input[readonly="readonly"] {
            border: 1px solid #2D2D2D;
            outline: none;
            color: #FFFFFF;
            height: 60px;
            font-size: 24px;
            font-weight: 500;
            background-color: #00B3E1;
        }

        @media all and (max-width: 1097px) {
            form {
                height: 500px;
                width: 450px;
                background-color: #00B3E1;
                position: absolute;
                transform: translate(-50%, -50%);
                top: 50%;
                left: 50%;
                margin-bottom: 70% !important;
                border-radius: 10px;
                /* box-shadow: 0 0 40px rgba(8, 7, 16, 0.6); */
                padding: 50px 5px;
            }

            h3 {
                font-size: 25px !important;
            }

        }


        @media all and (max-width: 767px) {
            input:first-child {
                max-width: 60% !important;
            }


            .golden-button:hover {
                transform: none !important;

            }

            input {
                max-width: 60%;
            }

            form {
                width: 500px;
                height: 480px;
                top: 50%;

            }

            .input-labels {
                display: flex;
                flex-direction: column;
                min-width: 100%;

            }
       
    
        }

        @media (max-width: 600px) {
            .container {
                top: 10px;
            }

            form {
                width: 400px;
                height: 470px;
                top: 50%;
            }
            .disclaimer {
                margin-left: 80px !important;
            }
        }

        @media all and (max-width: 467px) {
     

            .golden-button:hover {
                transform: none !important;
            }

            .right {
                padding-left: -150px !important;
            }

            form {
                width: 300px !important;
                height: 500px !important;
                top: 40% !important;
            }
            .disclaimer {
                margin-left: 50px !important;
            }
    
        }

        @media all and (max-width: 347px) {
            form {
                width: 250px !important;
                height: 500px !important;
            }
            label {
                font-size: 12px;
            }
            .disclaimer {
                margin-left: 10px !important;
            }
    
        }

        @media all and (max-width: 277px) {
            form {
                width: 200px !important;
            }
            .disclaimer {
                margin-left: 10px !important;
            }
    

        }